@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

:root {
  background: var(--background-color);
  max-width: auto;
  margin: 2rem;
  padding: 2rem;
}

.dark {
  --background-color: #333;
  --text-color: #fff;
  --card-background: #444;
  --card-border: #333333;
  --button-background: #f5f6f7;
  --button-text-color: #333;
  --button-border-delete: #ca0000;
  --button-color-delete: #ca0000;
  --button-border-done: #00aa69;
  --button-color-done: #00aa69;
  --button-border-doing: rgb(201, 131, 20);
  --button-color-doing: rgb(201, 131, 20);
}

.light {
  --background-color: #f5f6f7;
  --text-color: #333;
  --card-background: #e0dfdf;
  --card-border: #ccc;
  --button-background: #f5f6f7;
  --button-text-color: #333;
  --button-border-delete: #ca0000;
  --button-color-delete: #ca0000;
  --button-border-done: #00aa69;
  --button-color-done: #00aa69;
  --button-border-doing: rgb(201, 131, 20);
  --button-color-doing: rgb(201, 131, 20);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 728px;
  margin: 4rem auto;
}

.App > h1 {
  text-align: center;
  margin: 1rem 0;
}

.Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--card-background);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--card-border);
}

.Card--text h1 {
  color: #ff9900;
}

.Card--button button {
  background: var(--button-background);
  padding: 0.4rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.Card--button__delete {
  border: 1px solid var(--button-border-delete);
  color: var(--button-color-delete);
}

.Card--button__done {
  border: 1px solid var(--button-border-done);
  color: var(--button-color-done);
  margin-right: 1rem;
}

.Card--button__doing {
  border: 1px solid var(--button-border-doing);
  color: var(--button-color-doing);
  margin-right: 1rem;
}

.Form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--card-background);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Form > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form input {
  background: var(--button-background);
  padding: 0.5rem 1rem;
  border: 1px solid #ff9900;
  border-radius: 10px;
  display: block;
  margin: 0.3rem 1rem 0 0;
}

.Form label {
}

.Form button {
  background: #ff9900;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.line-through {
  text-decoration: line-through;
  color: #777 !important;
}

.hide-button {
  display: none;
}

.toggle-theme-button {
  background: var(--button-background);
  color: var(--button-text-color);
  padding: 0.4rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin-top: 1rem;
}

.toggle-theme-button:hover {
  filter: drop-shadow(0 0 2em var(--button-hover-background));
}

.toggle-theme-button.react {
  filter: drop-shadow(0 0 2em var(--button-toggle-background));
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
